body {
	background:#FBF8E5;
}
h2 {
	color: #a8460b;
	font-weight:bold;
}
ul {
	list-style-type:none;
	padding-left:2em;
}
#header {
	background: transparent url(/img/header_center.png) no-repeat scroll center;
	width:942px;
	height:51px;
	margin-bottom:15px;
}
#navbar {
	padding:0;
}
#navbar li {
	display:inline;
	background: transparent url(/img/navbar_pixel.png) repeat;
	padding:11px 17px;
	margin:0 -2px;
	/*border-left:2px solid silver;*/
}
#navbar li a {
	text-decoration:none;
	color:#fff;
	font-size:8pt;
	padding:0 20px;
}
#navbar li a.selected, #navbar li a:hover {
	color:#000;
}
/** admin navbar **/
div#admin_navbar {
	position:absolute;
	top:0px;
	left:0px;
	background:#3E3E3E;
}
div#admin_navbar ul li {
	display:inline;
	float:left;
	padding-right:10px;
}
div#admin_navbar a {
	color:#FCAE42;
	text-decoration:none;
}
/** tags **/
div.tags span {
	color:#ffffff;
	background:#fcae42;
	/**float:left;**/
}
div.tags span.tags_editable {
	padding:0 5px 0 3px;
}
div.tags span.tag_delete {
	border-left:1px solid #fbf8e5;
	padding:0 5px;
	margin-right:5px;
}
div.tags span.tag_delete a {
	text-decoration:none;
}
div.tags span.notag {
	background: transparent;
	float:right;
	padding:0 5px;
}
/** end **/
ul.menu {
	list-style-type:decimal-leading-zero;
}
a {
        color:#ff8003;
}
 a:hover {
        color:#404040;
}
ul.submenu {
        list-style-type:circle;
}
ul.items {
        list-style-type:disc;
}

#footer {
	background: transparent url(/img/footer.png) no-repeat scroll center;
	width:919px;
	height:30px;
}
/* actions */
div.actions a {
	text-decoration: none;
	font-weight:bold;
	color:#fcae42;
	background:#3e3e3e;
	padding:5px 8px;
}
div.actions a:hover {
	color:#fff;
}
/* display items in index page */
div.items {
	border:3px solid #454545;
	display:block;
	margin:3px;
}
div.items div {
	background:#454545;
	color:#f8b740;
	font-weight:bold;
	text-align:center;
}

/* data in tables */
div.products {
	margin: 20px 0;
}
td {
	border-bottom:1px solid #000;
}
th {
	border-right:4px solid #fff;
	text-align:center;
}
th a {
	text-decoration:none;
	color:#ffffff;
}
/* Paging */
div.paging {
        background:#fbf8e5;
        color: #ccc;
        margin-bottom: 2em;
}
div.paging div.disabled {
        color: #ddd;
        display: inline;
}
div.paging span {
}
div.paging span.current {
        color: #000;
}
div.paging span a {
}
/* Forms */
form {
        clear: both;
        margin-right: 20px;
        padding: 0;
        width: 75%;
}
fieldset {
        border: 1px solid #ccc;
        margin-top: 30px;
        padding: 16px 20px;
}
fieldset legend {
        background:#fbf8e5;
        color: #e32;
        font-size: 160%;
        font-weight: bold;
}
fieldset fieldset {
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 16px 10px;
}
fieldset fieldset legend {
        font-size: 120%;
        font-weight: normal;
}
fieldset fieldset div {
        clear: left;
        margin: 0 20px;
}
form div {
        clear: both;
        margin-bottom: 1em;
        padding: .5em;
        vertical-align: text-top;
}
form div.input {
        color: #444;
}
form div.required {
        color: #333;
        font-weight: bold;
}
form div.submit {
        border: 0;
        clear: both;
        margin-top: 10px;
        margin-left: 10px;
}
label {
        /**display: block;**/
        font-size: 110%;
	float:left;
	width:170px;
	margin:0.5em 0;
}
input {
        clear: both;
        font-size: 140%;
        font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
        padding: 2px;
	width:auto;
}
textarea {
        clear: both;
        font-size: 140%;
        font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
        padding: 2px;
        width: 100%;

}
select {
        clear: both;
        font-size: 120%;
        vertical-align: text-bottom;
}
select[multiple=multiple] {
        width: 100%;
}
option {
        font-size: 120%;
        padding: 0 3px;
}
input[type=checkbox] {
        clear: left;
        float: left;
        margin: 0px 6px 7px 2px;
        width: auto;
}
input[type=radio] {
        float:left;
        width:auto;
        margin: 0 3px 7px 0;
}
div.radio label {
        margin: 0 0 6px 20px;
}
input[type=submit] {
        display: inline;
        font-size: 110%;
        padding: 2px 5px;
        width: auto;
        vertical-align: bottom;
}
/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

.error{
	background-color:#F9F9F9;
	border:1px #E8E8E8 solid;
	color:#FF9900;
	margin:0px;
	padding:1 1 1 1;
}
